{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js", ".tsx"],
        "alias": {
          "@components": ["./components"],
          "@pages": ["./pages"],
          "@styles": ["./styles"],
          "@utils": ["./utils"]
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false,
        "preprocess": false
      }
    ]
  ]
}
